# Activar RewriteEngine
RewriteEngine on
 
# Reescribir la URL solicitada por el usuario
#   Entrada:  clientes/NOMBRE/
#   Salida: clientes.php?id=NOMBRE
# RewriteRule ^cursos/(.+)\-(.+)/(.+)\-(.+)/actividades?\-(.+)\/$ actividades/actividades_individual.php?idnom=$1&idcurso=$2&idvnom=$3&idvideo=$4&idact=$5

# establece el idioma por defecto
Options All -Indexes
DefaultLanguage es-ES
RewriteCond %{HTTP_REFERER} !^http://localhost/web2_2/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://localhost/web2_2/*$ [NC]
#RewriteRule .*\.(jpg|jpeg|gif|png|bmp|zip|js)$ - [F,NC] 
ErrorDocument 404 /error/404.php
ErrorDocument 403 /error/404.php
#RewriteBase /
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_URI} !#
#RewriteCond %{REQUEST_URI} !(.*)/$
#RewriteRule ^(.*)$ http://localhost/web2_2/$1/ [L,R=301]
RewriteRule ^ficha\-tecnica/(.+)/(.+)/(.+)\/$ app/dompdf/ficha.php?nomcat=$1&nomsub=$2&nomcur=$3
RewriteRule ^practicas/(.+)/(.+)/(.+)\/$ actividades/actividades.php?nomcat=$1&nomsub=$2&nomcur=$3
RewriteRule ^cursos/(.+)/(.+)/(.+)/(.+)/explicacion-pag(.+)/$ explicacion-interactiva/index.php?nomcat=$1&nomsub=$2&nomcur=$3&nomvid=$4&page=$5
RewriteRule ^cursos/(.+)/(.+)/(.+)/(.+)\/$ videos/index.php?nomcat=$1&nomsub=$2&nomcur=$3&nomvid=$4
RewriteRule ^cursos/(.+)/(.+)/(.+)\/$ cursos/cursos.php?nomcat=$1&nomsub=$2&nomcur=$3
RewriteRule ^timeline/(.+)/(.+)/(.+)\/$ lineatiempo/linea.php?nomcat=$1&nomsub=$2&nomcur=$3
#la siguente regla es subcategoria
#en desrrolo
RewriteRule ^pag([0-9]+)(|\-orden\-(az|za|vg))\/$ index.php?page=$1&ordenby=$3
RewriteRule ^cursos/([a-z0-9_-]+)/([a-z0-9_-]+)\-pag([0-9]+)(|\-orden\-(az|za|vg))\/$ catsub/index.php?nomcat=$1&nomsub=$2&page=$3&ordenby=$5
RewriteRule ^cursos/([a-z0-9_-]+)\-pag([0-9]+)(|\-orden\-(az|za|vg))\/$ catsub/index.php?nomcat=$1&page=$2&ordenby=$4
RewriteRule ^cursos/([a-z0-9_-]+)\/$ catsub/index.php?nomcat=$1
#la siguente regla es subcategoria
RewriteRule ^cursos/([a-z0-9_-]+)/([a-z0-9_-]+)\/$ catsub/index.php?nomcat=$1&nomsub=$2
RewriteRule ^blog/([a-z0-9_-]+)\/$ blog/index.php?nomcur=$1&noment=$2
RewriteRule ^blog/([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)/([a-z0-9_-]+)\/$ blog/blog.php?nomcat=$1&nomsub=$2&nomcur=$3&nomblo=$4

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php72” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php72 .php .php7 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
